<div id="space" style="border-style: double; padding: 5px; border-radius: 5px;">
 <div><h1>Request for <%= @new_request.space.name %></h1>
   <div style="text-align: right">Price per night:  £<%= @new_request.space.price %>
   </div>
 </div>
 <div>
   <h3>
     Description:  <%= @new_request.space.description %>
   </h3>
   <h3>
     Requested date: <%= @new_request.date %>
   </h3>
 </div>
 <div style="text-align: right">
 </div>
</div>
<div>
 <button>Request Booking</button>
</div>
