<!DOCTYPE html>
<html>
  <head>
    <title>Makers BnB</title>
    <link rel="stylesheet" type="text/css" href="/css/myStyles.css">
  </head>

  <body>
    <h1>Makers BnB</h1>
  <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>

    <%= yield %>
  </body>
</html>
