<!DOCTYPE html>
<html>
  <head>
    <title>Makers BnB</title>
    <link href='http://assets.makersacademy.com/images/favicons/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
    <link rel="stylesheet" type="text/css" href="/css/myStyles.css">
  </head>

  <body>
    <h1>Makers BnB</h1>
    <% if current_user %>
      <h2>Welcome, <%=current_user.email%></h2>
      <form method='post' action='/user/logout'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    <% else %>
      <div id="nouser">
        <a href="/user/new" id="sign_up"><button>Sign up</button></a><br>
        <a href="/user/login" id="sign_in"><button>Sign in</button></a><br>
      </div>
    <% end %>
    <a href="/space/list" id="listings"><button>Listings</button></a>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
