<head>
</head>

<h1 style="text-align: center; margin-top: 50px">Please Sign up for MakersBnb</h1>
<script>{document.body.style.backgroundImage = "url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg')";}</script>
<div id="main" style="width:450px; margin:0 auto; text-align: center;">
  <form action="/user/signing_up" method="post">
<table>
  <tr>
    <th><label for="email">EMAIL:</label></th>
    <th><input type="email" name="email" required></th>
  </tr>
  <tr>
    <th><label for="password">PASSWORD:</label></th>
    <th><input type="password" name="password" required></th>
  </tr>
  <tr>
    <th><label for="password_confirmation">PASSWORD CONFIRMATION:</label></th>
    <th><input type="password" name="password_confirmation" required></th>
  </tr>
</table>
<input type="submit" value="Sign Up" style="text-align: center; width: 100px;
height: 300px;">
</form>
</div>
