#header {
  text-align: center;
  margin-top: 50px;
}

#main {
  width:450px;
  margin:0 auto;
  text-align: center;
}


#sign_up_button {
  text-align: center;
  width: 100px;
  /*height: 300px;*/
}

body {
  background: url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg');
  background-repeat: no-repeat;

}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: dimgrey;
  text-align: center;
  color: white;
}

#space {
  background-color: #ccc;
}
