<div id="main">
  <h1 id = "header">Please Login up for MakersBnb</h1>
  <form action="/user/logging_in" method="post">
    <table>
      <tr>
        <th><label for="email">EMAIL:</label></th>
        <th><input type="email" name="email" required></th>
      </tr>
      <tr>
        <th><label for="password">PASSWORD:</label></th>
        <th><input type="password" name="password" required></th>
      </tr>
    </table>
    <input id="sign_in_button" type="submit" value="Log In">
  </form>
</div>
