<a href="/user/new"><button>New User</button></a> <a href="/space/list"><button>Listings</button></a>
<div id="main">
  <h1 id = "header">Please Login up for MakersBnb</h1>
  <form action="/user/logging_in" method="post" style="padding-left: 70px">
    <table>
      <tr>
        <th><label for="email">EMAIL:</label></th>
        <th><input type="email" name="email" required></th>
      </tr>
      <tr>
        <th><label for="password">PASSWORD:</label></th>
        <th><input type="password" name="password" required></th>
      </tr>
      <tr>
        <th style="padding-left: 120px"><input id="sign_in_button" type="submit" value="Log In"></th>
      </tr>
    </table>

  </form>
</div>
