<a href="/user/login"><button>Log in</button></a> <a href="/space/list"><button>Listings</button></a>
<div id="main">
  <h1 id = "header">Please Sign up for MakersBnb</h1>
  <form action="/user/signing_up" method="post">
    <table>
      <tr>
        <th><label for="email">EMAIL:</label></th>
        <th><input type="email" name="email" required></th>
      </tr>
      <tr>
        <th><label for="password">PASSWORD:</label></th>
        <th><input type="password" name="password" required></th>
      </tr>
      <tr>
        <th><label for="password_confirmation">PASSWORD CONFIRMATION:</label></th>
        <th><input type="password" name="password_confirmation" required></th>
      </tr>
    </table>
    <input id="sign_up_button" type="submit" value="Sign Up">
  </form>
</div>
