<h1>Fill in this form to add a new space</h1>
<form action="/spaces" method="post">
  <label for="name">
    name
    <input type="text" name="name">
  </label>
  <label for="description">
    description
    <input type="text" name="description">
  </label>
  <label for="price">
    price
    <input type="text" name="price">
  </label>
    <input type="submit" value="Create Space">
</form>
